<html>

<head>
    <script src="static/webfont.js"></script>
    <script src="static/snap.svg-min.js"></script>
    <script src="static/underscore-min.js"></script>
    <script src="static/sequence-diagram-min.js"></script>
</head>

<body>
    <div id="diagram"></div>
    <script>
        var diagram = Diagram.parse(`{{{seq}}}`);
        diagram.drawSVG('diagram', {
            theme: 'simple'
        });
    </script>
</body>

</html>
